@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url(./NotoSansKR-Regular.subset.woff2) format('woff2');
}
