@font-face {
    font-family: 'Cute Font';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cute Font Regular'), local('CuteFont-Regular'), url(CuteFont-Regular.subset.woff2)
}